<html>
    <h3> flight fare prediction </h3>
    <body>
        <form action="/fare" method="POST">
            Source:
            <input type="number" name="Source"> <br> <br>
            Destination:
            <input type="number" name="Destination"> <br> <br>
            Total_Stops:
            <input type="number" name="Total_Stops"> <br> <br>
            Air_India:
            <input type="number" name="Air_India"> <br> <br>
            GoAir:
            <input type="number" name="GoAir"> <br> <br>
            IndiGo:
            <input type="number" name="IndiGo"> <br> <br>
            Jet_Airways:
            <input type="number" name="Jet_Airways"> <br> <br>
            Jet_Airways_Business:
            <input type="number" name="Jet_Airways_Business"> <br> <br>
            Multiple_carriers:
            <input type="number" name="Multiple_carriers"> <br> <br>
            Multiple_carriers_Premium_economy:
            <input type="number" name="Multiple_carriers_Premium_economy"> <br> <br>
            SpiceJet:
            <input type="number" name="SpiceJet"> <br> <br>
            Trujet:
            <input type="number" name="Trujet"> <br> <br>
            Vistara:
            <input type="number" name="Vistara"> <br> <br>
            Vistara_Premium_economy:
            <input type="number" name="Vistara_Premium_economy"> <br> <br>
            Journey_Month:
            <input type="number" name="Journey_Month"> <br> <br>
            Journey_Day:
            <input type="number" name="Journey_Day"> <br> <br>
            Dep_Time_Hours:
            <input type="number" name="Dep_Time_Hours"> <br> <br>
            Dep_Time_Minute:
            <input type="number" name="Dep_Time_Minute"> <br> <br>
            Duration_hours:
            <input type="number" name="Duration_hours"> <br> <br>
            Duration_min:
            <input type="number" name="Duration_min"> <br> <br>

            <input type="submit"> <br> <br>




        </form>

        {{result}}


    </body>
</html>
